<p>
  <strong>from:</strong> <%= @sender %>
</p>

<p>
  <strong>body:</strong> <br/>
  <%= @body %>
</p>

<% if @extra %>
  <p><strong>extra params:</strong></p>
  <table>
    <% @extra.each do |key, value| %>
      <tr>
        <td><%= key   %></td>
        <td><%= value %></td>
      </tr>
    <% end %>
  </table>
<% end %>
